{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <head>
        <style>
            .box {
                border: 5px solid black;
            }
        </style>
    </head>
    <div class="box jumbotron container">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-success btn" value="Submit">
            <a href="{% url 'home' %}" class="btn btn-danger">Back</a>
        </form>
    </div>
{% endblock %}